* {
    box-sizing: border-box;
}

body,
html {
    max-width: 100vw;
    height: auto;
    margin: 0;
}

.wrapperHeaderMainIndex {
    background: url(/assets/photos/09-night.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
    height: auto;
    max-width: 100%;
    padding: 2px;
    background-color: grey;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.header-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
    height: auto;
    max-width: 100%;
    padding: 2px;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    align-items: center;
    /* justify-content: flex-start; */
    margin-right: 20rem;
}

.icon {
    padding: 1rem;
    max-width: 80px;
    align-items: flex-start;
}

.nav a {
    font-size: 2rem;
    padding: 0 0 0 2rem;
    color: #00EDBD;
    text-decoration: none;
    align-items: flex-start;
    justify-content: center;
}

.nav a:hover {
    color: #c1c7c6;
}

.nav a.active {
    text-decoration: overline;
}

/* Main */
.main {
    max-width: auto;
    align-items: center;
    background-color: grey;
}

.Information-Index {
    margin-left: 2rem;
    margin-top: 4rem;
    font-family: sans-serif;
    color: #00EDBD;
}

.Information li {
    font-family: sans-serif;
    font-size: large;
    color: #00EDBD;
}

.Information h1 {
    font-family: sans-serif;
    font-size: larger;
    color: #00EDBD;
}

.bildWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 100%;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bild img {
    background-color: blue;
    max-width: 100%;

}

/* main book-cottage*/
.wrapper-book {
    background: url(/assets/photos/09-day.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
    height: 300px;
    gap: 0, 5rem;
    border-style: groove;
    border-color: #00EDBD;
    border-radius: 10px;
    margin-left: 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container input {
    width: 60%;
    margin: 0;
    padding: 0, 5rem;
    background: none;
    font-weight: bolder;
    font-size: larger;
    border-color: #00EDBD;
    border-radius: 10px;
}

label {
    font-style: oblique;
    font-weight: bold;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.date input {
    width: 100%;
    margin: 0;
    padding: 0;

}




/* Footer*/

.footer {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #00EDBD;
}

.logos {
    display: flex;
    align-items: flex-end;
}

.logos img {
    margin-right: 1rem;
}